<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
      <img src="/img/ajmal12.png" width="357" height="260" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
    </div>
  
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3">Ajmal Hassan</h1>
      <p class="lead">
        Thank you for visiting my cooking blog! <br>
        If you have any questions, feedback, or collaboration inquiries, please feel free to reach out to me. I would love to hear from you.
      </p>
  
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a
        class="footer-link"
        href="https://github.com/Ajmal121212"
        >Github</a><br>
        <a
        class="footer-link"
        href="https://www.linkedin.com/in/ajmal-hassan-11149a258/"
        >LinkedIn</a><br>
      <a
        class="footer-link"
        href="https://www.facebook.com/Ajmal.Hassan.twelve.12/"
        >Facebook</a><br>
      <a
        class="footer-link"
        href="https://www.instagram.com/ajmal_hassan_twelve/?hl=en"
        >instagram</a><br>
      <a class="footer-link" href="https://ajmal121212.github.io/personal-site-2/"
        >Website</a><br>
      </div>
  
    </div>
  
  </div>